/* ========================================

    CODE YOUR STYLES BELOW!

   ====================================== */

.layout1 main {
    display: flex;
}

.layout1 article {
    flex: 1 58%;
    margin-right: 2%;

}